    <ion-fab class="fab-position">
    <ion-fab-button color="danger"><ion-icon name="share-social"></ion-icon></ion-fab-button>
    <ion-fab-list side="top" class="fab-position">
      <ion-fab-button>
        <ion-icon color="facebook" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="twitter" name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="danger" name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="end" class="fab-position">
      <ion-fab-button>
        <ion-icon color="primary" name="logo-pwa"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="danger" name="logo-npm"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="ionic" name="logo-ionic"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>

