<ion-item>
  <ion-avatar slot="start">
    <ion-img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Prescription02&hairColor=Platinum&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=Gray01&graphicType=Skull&eyeType=Hearts&eyebrowType=RaisedExcited&mouthType=Disbelief&skinColor=Black'></ion-img>
  </ion-avatar>
  <ion-label>Avatar Tradicional</ion-label>

</ion-item>
  

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <ion-img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Sunglasses&hairColor=Auburn&facialHairType=Blank&facialHairColor=Brown&clotheType=CollarSweater&clotheColor=PastelRed&eyeType=EyeRoll&eyebrowType=UpDown&mouthType=Sad&skinColor=DarkBrown"></ion-img>
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
    </ion-chip>
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="end">
      <ion-img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesar&accessoriesType=Prescription01&hairColor=Blonde&facialHairType=MoustacheFancy&facialHairColor=Red&clotheType=Overall&clotheColor=Black&eyeType=Close&eyebrowType=Default&mouthType=Twinkle&skinColor=Light"></ion-img>
    </ion-avatar>
    <ion-label>Avatar End</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairShavedSides&accessoriesType=Sunglasses&hatColor=Black&facialHairType=MoustacheFancy&facialHairColor=Brown&clotheType=CollarSweater&clotheColor=Heather&graphicType=Cumbia&eyeType=Hearts&eyebrowType=UpDown&mouthType=Concerned&skinColor=Light"></ion-img>
    </ion-thumbnail>
    <ion-label>Item Thumbnail</ion-label>
  </ion-item>
